a {
  text-decoration: none;
  color: #9146ff;
}
a:hover {
  text-decoration: none;
  color: #7313ff;
}
.navbar {
  padding: 1.5rem 1rem;
}
/**
  My CSS
**/
.bg-twitch {
  background: #9146ff;
}
.bg-twitch .navbar-brand {
  color: #f0f0ff;
}
.bg-twitch .navbar-brand:hover {
  color: #f0f0ff;
}
.btn-twitch {
  background: #9146ff;
  color: #f0f0ff;
}
.btn-twitch:hover {
  background: #7313ff;
}
.twitch-alert {
  background: #9146ff;
  color: #f0f0ff;
}
.searchInput {
  padding: 2rem 0.75rem;
}
.twitchPlayer {
  position: relative;
  padding-bottom: 56.25%; /* 16:9 */
  height: 0;
}
.twitchPlayer iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.twitchColor {
  color: #9146ff;
}
.twitchColor:hover {
  color: #7313ff;
}
.createdBy {
  font-size: 0.95em;
}
